<div class="cout"><div class="op" data-out>123</div></div>
<button class="sp2" data-clear>C</button><button data-delete>E</button><button data-operation>/</button>
<button data-number>1</button><button data-number>2</button><button data-number>3</button><button data-operation>*</button>
<button data-number>4</button><button data-number>5</button><button data-number>6</button><button data-operation>-</button>
<button data-number>7</button><button data-number>8</button><button data-number>9</button><button data-operation>+</button>
<button data-number>.</button><button data-number>0</button><button class="sp2" data-equals>=</button>
<script src="./scripts/calc.js"></script>
<script>
	init_calc();
</script>
