body {
  	background: url("./media/for2.png");
  	background-size: cover;
  	background-position: center;
	/* [{"hex":"#ddd3b4"},{"hex":"#268856"},{"hex":"#241178"},{"hex":"#b52929"},{"hex":"#d5cd4e"},{"hex":"#230f34"}] */
	--ui_c0: #cccccc;
	--ui_c1: #548e6a;
	--ui_c2: #3A634A;
	--ui_ln: #102838;
	
	--fx_dt: repeating-conic-gradient(var(--ui_c1) 0% 25%, transparent 0% 50%) 50% / 2px 2px;
	--fx_gd: linear-gradient(var(--ui_c1), var(--ui_c2));
	
	--ui_ac: var(--fx_gd); /* accent colour */

	--ui_ib: var(--ui_ln); /* invert text colour */
	--ui_ic: var(--ui_c0); /* inver background colour */
	
	--ui_br: 5px; /* border radius */
  
	overflow: hidden;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Baloo 2', cursive;
}

* {
  cursor: url("./media/le.png"), default;
}

a {
  cursor: url("./media/derg_cur.png"), default;
}

a img {
  cursor: url("./media/derg_cur.png"), default;
}

.window {
  	/* So you can have individual windows with different colours*/
	--ui_c0: inherit;
	--ui_c1: inherit;
	--ui_ln: inherit;
  position: absolute;
  background-color: var(--ui_c0);
  border: 1px solid var(--ui_ln);
  border-radius: var(--ui_br);
  overflow: hidden;
  width: 500px;
  height: 200px;
  box-shadow: 6px 6px #10283840;
}

.header {
  /*background-color: var(--ui_c1);*/
  background: var(--ui_ac);
  border-bottom: 1px solid var(--ui_ln);
  padding-top: 5px;
  padding-bottom: 7px;
  height: 15px;
  color: var(--ui_ln);
}

.title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  margin: -2px 0 0 0;
  margin-left: 10px
}

.closebox {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 1px;
  background: var(--ui_c0);
  border: 1px solid var(--ui_ln);
  border-radius: 3px;
  width: 13px;
  height: 13px;
}

.closebox:hover {
  background: var(--ui_ib);
}

.hidebox {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: var(--ui_c1);
  border: 1px solid var(--ui_ln);
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 6px;
  text-align: center;
  font-size: 9pt;
  width: 27px;
  height: 15px;
}
.hidebox span {
  position: absolute;
  transform: translate(-14px, -2px);
}
.hidebox:hover {
	background-color: var(--ui_ib);
	color: var(--ui_ic);
}

.mmenu {
  position: absolute;
  background-color: var(--ui_c0);
  color: var(--ui_ln);
  border: 1px solid var(--ui_ln);
  border-radius: var(--ui_br);
  overflow: hidden;
  width: 151px;
  /*box-shadow: 7px 7px 1px 1px #000020c0;*/
}

.mmenu ul {
  padding: 0px;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  display: block;
}

.mmenu a {
	text-align: left;
	color: var(--ui_ln);
text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  width: 100%;
  border-top: 1px solid var(--ui_ln);
}

.mmenu a:hover {
  color: var(--ui_ic);
  background-color: var(--ui_ib);
}

.lmenu {
	width: 175px;
}
.lmenu img {
	width: 75px;
	border: 1px solid var(--ui_ln);
	border-radius: 5px;
}
.tinput {
	width: 90%;
	margin-bottom: 7px;
	background-color: transparent;
	border: 1px solid var(--ui_ln);
	border-radius: var(--ui_br);
	color: inherit;
	font: inherit;
	font-weight: bold;
	text-align:center;
	height: 18pt;
}
.lmenu input {

	outline: none;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
  color: var(--ui_ln);
  border-radius: var(--ui_br);
  /* in window bottom 50 -buttons, 10 -no buttons*/
}

.notec {
	display: grid;
	bottom: 10px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

.notec textarea {
	resize: none;
	outline: none;
	margin-top: 7px;
	padding: 7px;
	border: 1px solid var(--ui_ln);
	border-radius: var(--ui_br);
	font-family: 'DM Mono', monospace;
	color: inherit;
	background: transparent;
	white-space: pre;
}

.inv {
  background-color: var(--ui_ln);
  color: var(--ui_c0);
}

.invc {
  color: var(--ui_c0);
}


.btn {
	border: 1px solid var(--ui_ln);
	border-radius: var(--ui_br);
	padding: 0 6px 0 6px;
	text-decoration: none;
	color: var(--ui_ln);
}
.btn:hover {
	background: var(--ui_ib);
	color: var(--ui_ic);
}

.brr {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: url(./media/le_a.png), default;
}

.wbottom {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.wbottom a {
  border: 1px solid var(--ui_ln);
  border-radius: var(--ui_br);
  padding: 0 6px 0 6px;
  margin: 3px;
  text-decoration: none;
  color: var(--ui_ln);
}

.wbottom a:hover {
  background-color: var(--ui_ib);
  color: var(--ui_ic);
}

.wbottom .invc {
  border: 1px solid var(--ui_c0);
  color: var(--ui_c0);
}

.wbottom .invc:hover {
  border: 1px solid var(--ui_ib);
  background-color: var(--ui_ic);
  color: var(--ui_ln);
}

.fview {
  background-color: transparent;
  border: 1px solid var(--ui_ln);
  border-radius: var(--ui_br);
  display: grid;
  top: 40px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.fvlist {
	display: block;
}

.fvlist li {
	list-style: none;
	margin-left: -45px;
	display: flex;
	border-radius: var(--ui_br);
	margin-bottom: 4px;
}
.fvlist li:hover {
	background: var(--ui_ib);
	color: var(--ui_c0);
}
.fvlist li {
	color: var(--ui_ln);
	text-decoration: none;

}
.fvlist li:hover {
	color: var(--ui_ic);
}
.fvlist img {
	display: block;
	width: 30px;
	height: min-content;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	margin-left: 5px;
}
.fvlist .la {
	margin-top: 3pt;
	margin-left: 10px;
}
.fvlist .date {
	margin-left: auto;
	margin-right: 10px;
	margin-top: 3pt;
}

.imgcont {
	display: block;
	left: 0px;
	right: 0px;
	bottom: 15px;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}
.imgcont img {
	width: 100%;
}

.dicon {
  position: absolute;
  width: 70px;
  display: grid;
  text-align: center;
  max-height: 85px;
  padding: 5px;
  border-radius: var(--ui_br);
}

.dicon img {
  max-width: 56px;
}

.dicon .la {
  text-align: center;
  line-height: 13pt;
  font-size: 11pt;
  margin-top: 7px;
  color: var(--ui_ln);
  background-color: var(--ui_c0);
  opacity: 65%;
  border-radius: var(--ui_br);
}

.dicon:hover .la {
	background: var(--ui_ib);
	color: var(--ui_ic);
	opacity: 75%;
}

.dial .dcl {
  font-weight: bold;
  border-width: 2px;
}

.shidden {
  visibility: hidden;
}

.calcg {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 89%;
	grid-template-columns: repeat(4, 42px);
	grid-template-rows: minmax(25px, auto) repeat(5, 33px);
	border-radius: 0px;
	overflow: hidden;
}

.calcg button {
	margin: 3px;
	border: 1px solid var(--ui_ln);
	color: var(--ui_ln);
	background-color: transparent;
	border-radius: var(--ui_br);
	box-shadow: 2px 2px var(--ui_ln);
}

.calcg button:hover {
	background-color: var(--ui_ib);
	color: var(--ui_ic);
	box-shadow: 2px 2px var(--ui_ac);
}

.sp2 {
	grid-column: span 2;
}

.calcg .cout {
	margin-top: -9px;
	margin-left: -9px;
	margin-right: -9px;
	background-color: var(--ui_ln);
	color: var(--ui_c0);
	border-radius: 0px;
	grid-column: 1 / -1;
	text-align: right;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.cAll {
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%,-100%);
}

.trf {
	transition: opacity 0.7s;
}

/* marquee */

.marcont {
	overflow: hidden;
	--mmax: -110%;
	--mtim: 15s;
}

.marquee {
	animation:	marquee var(--mtim) linear infinite;
}
.marquee:hover {
	animation-play-state: paused;
}

.amarquee {
	animation-play-state: paused;
}
.marcont:hover .amarquee {
	animation:	marquee var(--mtim) linear infinite;
}
.marcont .move {
	animation:	marquee var(--mtim) linear infinite;
}

@keyframes marquee {
0% {
  transform: translateX(100%)
}
100% {
  transform: translateX( var(--mmax) );
}
}
/* /marquee */
