<style>
	.cnt {
		text-align: center;
	}
	#controls {
		padding:0px;
	}
	#controls li {
		display: inline;
		list-style-type: none;
		padding: 4px;
	}
	#list {
		margin-left: 9px;
		margin-right: 5px;
	}
	#list li {
		padding-left: 5px;
		margin-bottom:10px;
	}
	#list li a {
		margin-top: auto;
		margin-bottom: auto;
	}
	#list li .marcont {
		overflow: hidden;
		white-space: nowrap;
		margin-right: 10px;
	}
	#list li .date {
		color: var(--ui_c1);
	}
</style>
<ul id="controls">
	<li>
		<a onclick="pplay()" class="btn">Play/Pause ⏯</a>
	</li>
	<li>
		<a onclick="pstop()" class="btn">Stop ■</a>
	</li>
	<li>
		<a onclick="pgo()" class="btn">Open ☛</a>
	</li>
</ul>
<!--<p id="lnk" class="cnt">Select a song to play.</p>-->
<div id="player" style="visibility:hidden;width:10px;height:10px;overflow:hidden;"></div>
<div class="fview fvlist" style="height:140px;overflow-y:auto;">
	<ul id="list">
		<li onclick="pload('Tq8qsSUn2Oo',this)">
			<div class="marcont" style="--mmax:-140%;"><div class="amarquee">
			<a>Dreams of our generation - つんく♂</a>
			</div></div>
			<a class="date">02:23</a>
		</li>
		<li onclick="pload('fWHZz7ZCXqw',this)">
			<div class="marcont"><div class="amarquee">
			<a>Kulupu jan tenpo - Jan Misali</a>
			</div></div>
			<a class="date">02:23</a>
		</li>
		<li onclick="pload('INj74XRTXbM',this)">
			<div class="marcont" style="--mmax:-295%;"><div class="amarquee">
			<a>Millennium Anthem (2000 New Years Eve) - Hypnospace Outlaw, Jay Tholen</a>
			</div></div>
			<a class="date">04:45</a>
		</li>
		<li onclick="pload('aAwVTXrPDW0',this)">
			<div class="marcont" style="--mmax:-295%;"><div class="amarquee">
			<a>Ready to Shave - Chowder Man - Hypnospace Outlaw, Hot Dad (feat. Dave Pino)</a>
			</div></div>
			<a class="date">06:40</a>
		</li>
		<li onclick="pload('_MMBImhlu74',this)">
			<div class="marcont" style="--mmax:-175%;"><div class="amarquee">
			<a>The most mysterious song on the internet - ???</a>
			</div></div>
			<a class="date">02:55</a>
		</li>
	</ul>
</div>
